<div class="wrapper sticky">
    <nav class="navbar-fixed-top">
        <a href="#" class="logo">
            <mat-icon>receipt</mat-icon> News Feed
        </a>
        <ul>
            <li>
                <div class="text-light">
                    
                    <a (click)="handleSignupAction()">Signup</a>
                    <a (click)="handleLoginAction()"> Login </a>
                    <a (click)="handleForgotPasswordAction()">Forgot Password</a>
                    
                </div>
            </li>
        </ul>
    </nav>
</div>